@using Tapudb.Models
@model List<KayitViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<table class="table table-bordered" id="tblUrun">

    <thead>
        <tr>
            <th>AD</th>
            <th>SOYAD</th>
            

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Kullanici.Ad</td>
                <td>@item.Kullanici.Soyad</td>
                
                
                


            </tr>
        }

    </tbody>
</table>

<div id="urunListesi"></div>
